.wrapper,
body,
html {
    height: 100%
}

.contact-us,
.header__phone {
    position: relative
}

.form__header,
.form__message-field,
.form__name-field {
    grid-column-start: span 2
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

a {
    text-decoration: none
}

li,
ol,
ul {
    list-style: none
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden
}

.main {
    flex-grow: 1
}

.container {
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto
}

.header {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)
}

.header__top {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center
}

.header__phone {
    padding-left: 30px;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #434755;
    transition: .5s
}

@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateY(-50%) translateX(0)
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateY(-50%) translateX(-10px)
    }
    20%,
    40%,
    60% {
        transform: translateX(10px) translateY(-50%)
    }
    80% {
        transform: translateX(8px) translateY(-50%)
    }
    90% {
        transform: translateX(-8px) translateY(-50%)
    }
}

.header__phone:hover::before {
    animation: 1s cubic-bezier(.455, .030, .515, .955) both shake-horizontal
}

.header__phone::before {
    position: absolute;
    content: "";
    width: 15.75px;
    height: 15.75px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/header/phone-icon.svg")
}

.logo {
    display: flex;
    column-gap: 8.66px;
    align-items: center
}

@keyframes jello-horizontal {
    0%,
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
}

.logo:hover {
    animation: .9s both jello-horizontal
}

.logo__image,
.social-media-item,
.social-media-link {
    line-height: 0
}

.logo__text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .04em;
    color: #12182a
}

.social-media-list {
    display: flex;
    column-gap: 38px;
    align-items: center
}

@keyframes blink-1 {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

.social-media-link:hover img {
    animation: .6s both blink-1
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu__link {
    display: inline-block;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #434755;
    padding: 15px 0 12px;
    transition: .6s;
    border-bottom: 4px solid transparent
}

.menu__link:hover {
    color: #000;
    border-bottom: 4px solid #f6c142
}

.header__burger {
    display: none
}

@media(max-width:1024px) {
    .menu__list {
        justify-content: space-evenly
    }
}

@media(max-width:425px) {
    .burger_active>div:nth-child(2),
    .header__phone,
    .logo__text,
    .menu {
        display: none
    }
    .burger>div:first-child,
    .burger>div:nth-child(2),
    .burger>div:nth-child(3) {
        position: absolute;
        height: 2px;
        background-color: #000;
        transition: .4s
    }
    .menu {
        animation: .6s cubic-bezier(.25, .46, .45, .94) both tilt-in-top-1
    }
    .menu_out {
        animation: .9s cubic-bezier(.55, .085, .68, .53) both slide-out-top
    }
    @keyframes tilt-in-top-1 {
        0% {
            -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            opacity: 0
        }
        100% {
            -webkit-transform: rotateY(0) translateY(0) skewY(0);
            transform: rotateY(0) translateY(0) skewY(0);
            opacity: 1
        }
    }
    @keyframes slide-out-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1
        }
        100% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0
        }
    }
    .burger,
    .burger_active {
        display: block;
        width: 18px;
        height: 12px;
        position: relative
    }
    .burger>div:first-child {
        width: 100%;
        left: 0;
        top: 0
    }
    .burger>div:nth-child(2) {
        width: 15px;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }
    .burger>div:nth-child(3) {
        width: 100%;
        left: 0;
        bottom: 0
    }
    .menu_active {
        display: block;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)
    }
    .menu_active .menu__list {
        flex-direction: column;
        row-gap: 10px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 0 30px;
        background: #fff
    }
    .menu__link {
        font-size: 19px;
        color: #000;
        font-weight: 700
    }
    .burger_active>div:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg)
    }
    .burger_active>div:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg)
    }
}

.contact-us::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 410px;
    left: 0;
    right: 0;
    top: 0;
    background: #eff8fe;
    z-index: -1
}

.contact-us__container {
    display: flex;
    align-items: flex-start;
    column-gap: 100px;
    padding: 80px 15px 100px
}

.contact-us__container .decor {
    display: none
}

.contact-us__contacts {
    padding-top: 28px;
    width: 420px
}

.contacts__header {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #12182a;
    margin-bottom: 32px
}

.contacts__info {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #12182a;
    opacity: .8;
    margin-bottom: 49px
}

.contacts__list-item,
.contacts__list-item a {
    line-height: 144%;
    font-weight: 400;
    font-size: 18px;
    color: #12182a;
    font-family: Inter
}

.contacts__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px
}

.contacts__list-item {
    background: #fff;
    border: 1px solid rgba(18, 24, 42, .1);
    border-radius: 100px;
    padding: 28px 32px 28px 75px
}

.column-footer__logo,
.form__header {
    font-family: Montserrat;
    font-weight: 700
}

.contacts__list-item:first-child {
    background: url("data: image/svg+xml, %3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.01 12.38C15.78 12.38 14.59 12.18 13.48 11.82C13.13 11.7 12.74 11.79 12.47 12.06L10.9 14.03C8.07 12.68 5.42 10.13 4.01 7.2L5.96 5.54C6.23 5.26 6.31 4.87 6.2 4.52C5.83 3.41 5.64 2.22 5.64 0.99C5.64 0.45 5.19 0 4.65 0H1.19C0.65 0 0 0.24 0 0.99C0 10.28 7.73 18 17.01 18C17.72 18 18 17.37 18 16.82V13.37C18 12.83 17.55 12.38 17.01 12.38Z' fill='%2312182A'/%3E%3C/svg%3E") left 32px center no-repeat #fff;
    border: 1px solid rgba(18, 24, 42, .1);
    border-radius: 100px;
    padding: 28px 32px 28px 75px
}

.contacts__list-item:nth-child(2) {
    background: url("data:image/svg+xml,%3Csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z' fill='%2312182A'/%3E%3C/svg%3E") left 32px center no-repeat #fff;
    border: 1px solid rgba(18, 24, 42, .1);
    border-radius: 100px;
    padding: 28px 32px 28px 75px
}

.contacts__list-item:last-child {
    background: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0C3.13 0 0 3.13 0 7C0 8.74 0.5 10.37 1.41 11.84C2.36 13.38 3.61 14.7 4.57 16.24C5.04 16.99 5.38 17.69 5.74 18.5C6 19.05 6.21 20 7 20C7.79 20 8 19.05 8.25 18.5C8.62 17.69 8.95 16.99 9.42 16.24C10.38 14.71 11.63 13.39 12.58 11.84C13.5 10.37 14 8.74 14 7C14 3.13 10.87 0 7 0ZM7 9.75C5.62 9.75 4.5 8.63 4.5 7.25C4.5 5.87 5.62 4.75 7 4.75C8.38 4.75 9.5 5.87 9.5 7.25C9.5 8.63 8.38 9.75 7 9.75Z' fill='%2312182A'/%3E%3C/svg%3E") left 32px center no-repeat #fff;
    border: 1px solid rgba(18, 24, 42, .1);
    border-radius: 100px;
    padding: 28px 32px 28px 75px
}

.contact-us__form {
    padding: 41px 50px 54px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 20px
}

.contact-us__form input {
    display: block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 30px;
    color: #000;
    opacity: .8;
    margin-top: 10px;
    width: 100%
}

.form {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 40px;
    column-gap: 20px
}

.form__header {
    font-size: 28px;
    line-height: 34px;
    color: #12182a;
    padding-bottom: 13px;
    border-bottom: 1px solid #12182a
}

.form label {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #434755
}

.form__message-field textarea,
.form__reason option,
.form__reason select {
    font-weight: 400;
    line-height: 22px;
    color: #000;
    font-family: Inter;
    font-size: 18px
}

.form__reason select {
    font-style: normal;
    background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.583984 0.833252L6.00065 6.24992L11.4173 0.833252H0.583984Z' fill='black'/%3E%3C/svg%3E%0A") right 20px center no-repeat #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 40px;
    padding: 14px 50px 14px 30px;
    opacity: .8;
    width: 100%;
    margin-top: 10px;
    appearance: none;
    position: relative
}

.form__reason option {
    background: #fff;
    border-radius: 40px;
    padding: 14px 30px
}

.form__message-field {
    margin-bottom: 0
}

.form__message-field textarea {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 20px;
    opacity: .4;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    padding: 20px 30px;
    resize: none
}

.column-footer__logo,
.form button {
    opacity: .99;
    transition: .5s;
    color: #fff
}

.form button {
    background: #5db5f9;
    border-radius: 140px;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    justify-self: start;
    margin-top: -10px
}

.column-footer__logo:hover,
button:hover {
    opacity: .6
}

@media(min-width:1025px) {
    .contact-us__container {
        position: relative
    }
    .contact-us__container .decor:first-child {
        display: block;
        position: absolute;
        left: -150px;
        top: 42px;
        z-index: -1;
    }
    .contact-us__container .decor:nth-child(2) {
        display: block;
        position: absolute;
        bottom: 44px;
        right: -185px;
        z-index: -1;
    }
}

@media(max-width:1023px) {
    .contact-us::before {
        height: 377px;
    }
    .contact-us__container {
        display: flex;
        row-gap: 35px;
        flex-direction: column;
        align-items: center;
        padding: 30px 15px 50px
    }
    .form {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px
    }
    .form__message-field textarea {
        height: 108px;
    }
    .form button {
        padding: 12px 60px;
    }
    .contacts__text {
        display: block;
    }
    .contact-us__contacts {
        display: flex;
        column-gap: 50px;
        width: unset;
        justify-content: center;
        align-items: center
    }
    .contact-us__contacts>:first-child {
        flex-basis: 420px;
    }
}

@media(max-width:767px) {
    .header__phone {
        order: 3;
    }
    .social-media-list {
        display: none;
    }
    .menu__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__link {
        padding-left: 30px;
        padding-right: 30px
    }
    .form {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 20px
    }
    .contacts__text {
        text-align: center;
        flex-basis: unset!important;
    }
    .contact-us__contacts {
        flex-wrap: wrap;
    }
}

@media(max-width:560px) {
    .contact-us__contacts {
        padding-top: 0
    }
    .contacts__header {
        font-size: 34px;
        margin-bottom: 15px
    }
    .contacts__info {
        font-size: 18PX;
        margin-bottom: 22px
    }
    .contacts__list-item {
        padding: 20px 32px 20px 75px!important
    }
    .contacts__list-item a {
        font-size: 16px
    }
    .form {
        grid-template-columns: 1fr;
        border-radius: unset;
        padding: 41px 20px 54px;
        background: #fbfbfb;
        box-shadow: unset;
        margin: 0 -15px
    }
    .form__header,
    .form__message-field,
    .form__name-field {
        grid-column-start: unset
    }
    .contact-us__container {
        padding-bottom: 0
    }
}


/* -------------------------------------------------------------------------------------- */

.footer {
    padding: 100px 0 150px;
    background: #12182a
}

.footer__container {
    display: flex
}

.footer__column {
    max-width: 259px
}

.column-footer:first-child {
    margin-right: 96px
}

.column-footer:not(:first-child):not(:last-child) {
    margin-right: 175px
}

.column-footer__logo {
    margin-bottom: 34px;
    display: inline-block;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: .04em;
    display: flex
}

.column-footer__logo img {
    padding-right: 10px
}

.social-media-list {
    column-gap: 40px
}

.social-media-link svg {
    transition: .5s;
    transform: scale(1)
}

.social-media-link svg:hover {
    transform: scale(1.3)
}

.column-footer__item,
.column-footer__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding-bottom: 3px
}

.column-footer__link:hover {
    text-decoration: underline 1px #fff
}

.column-footer__item:not(:last-child) {
    margin-bottom: 40px
}

@media(max-width:1100px) {
    .column-footer:first-child,
    .column-footer:not(:first-child):not(:last-child) {
        margin-right: unset
    }
    .footer__container {
        justify-content: space-between
    }
}

@media(max-width:1023px) {
    .footer__container {
        flex-wrap: wrap;
        gap: 100px;
        justify-content: flex-start
    }
}

@media (max-width:767px) {
    .footer__column {
        max-width: unset
    }
    .social-media-list_footer {
        display: flex
    }
    .column-footer__item:not(:last-child) {
        margin-bottom: 20px
    }
}

@media (max-width:425px) {
    .social-media-list_footer {
        justify-content: space-around;
        gap: unset
    }
    .footer__container {
        justify-content: center
    }
    .column-footer__item {
        text-align: center
    }
    .footer {
        padding: 60px 0 80px
    }
}