.wrapper,
body,
html {
    height: 100%
}

.header__phone,
.item-news__image,
.news {
    position: relative
}

.item-news__title,
.tabs-nav__btn {
    font-style: normal;
    font-family: Inter
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

a {
    text-decoration: none
}

li,
ol,
ul {
    list-style: none
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden
}

.main {
    flex-grow: 1
}

.container {
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto
}

.header {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)
}

.header__top {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center
}

.header__phone {
    padding-left: 30px;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #434755;
    transition: .5s
}

@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateY(-50%) translateX(0)
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateY(-50%) translateX(-10px)
    }
    20%,
    40%,
    60% {
        transform: translateX(10px) translateY(-50%)
    }
    80% {
        transform: translateX(8px) translateY(-50%)
    }
    90% {
        transform: translateX(-8px) translateY(-50%)
    }
}

.header__phone:hover::before {
    animation: 1s cubic-bezier(.455, .030, .515, .955) both shake-horizontal
}

.header__phone::before {
    position: absolute;
    content: "";
    width: 15.75px;
    height: 15.75px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/header/phone-icon.svg")
}

.logo {
    display: flex;
    column-gap: 8.66px;
    align-items: center
}

@keyframes jello-horizontal {
    0%,
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
}

.logo:hover {
    animation: .9s both jello-horizontal
}

.logo__image,
.social-media-item,
.social-media-link {
    line-height: 0
}

.logo__text {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: .04em;
    color: #12182a
}

.social-media-list {
    display: flex;
    column-gap: 38px;
    align-items: center
}

@keyframes blink-1 {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

.social-media-link:hover img {
    animation: .6s both blink-1
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu__link {
    display: inline-block;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #434755;
    padding: 15px 0 12px;
    transition: .6s;
    border-bottom: 4px solid transparent
}

.menu__link:hover {
    color: #000;
    border-bottom: 4px solid #f6c142
}

.header__burger {
    display: none
}

@media(max-width:1024px) {
    .menu__list {
        justify-content: space-evenly
    }
}

@media(max-width:767px) {
    .header__phone {
        order: 3
    }
    .social-media-list {
        display: none
    }
    .menu__list {
        flex-wrap: wrap;
        justify-content: center
    }
    .menu__link {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media(max-width:425px) {
    .burger_active>div:nth-child(2),
    .header__phone,
    .logo__text,
    .menu {
        display: none
    }
    .burger>div:first-child,
    .burger>div:nth-child(2),
    .burger>div:nth-child(3) {
        position: absolute;
        height: 2px;
        background-color: #000;
        transition: .4s
    }
    .menu {
        animation: .6s cubic-bezier(.25, .46, .45, .94) both tilt-in-top-1
    }
    .menu_out {
        animation: .9s cubic-bezier(.55, .085, .68, .53) both slide-out-top
    }
    @keyframes tilt-in-top-1 {
        0% {
            -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            opacity: 0
        }
        100% {
            -webkit-transform: rotateY(0) translateY(0) skewY(0);
            transform: rotateY(0) translateY(0) skewY(0);
            opacity: 1
        }
    }
    @keyframes slide-out-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1
        }
        100% {
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
            opacity: 0
        }
    }
    .burger,
    .burger_active {
        display: block;
        width: 18px;
        height: 12px;
        position: relative
    }
    .burger>div:first-child {
        width: 100%;
        left: 0;
        top: 0
    }
    .burger>div:nth-child(2) {
        width: 15px;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }
    .burger>div:nth-child(3) {
        width: 100%;
        left: 0;
        bottom: 0
    }
    .menu_active {
        display: block;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)
    }
    .menu_active .menu__list {
        flex-direction: column;
        row-gap: 10px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 0 30px;
        background: #fff
    }
    .menu__link {
        font-size: 19px;
        color: #000;
        font-weight: 700
    }
    .burger_active>div:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg)
    }
    .burger_active>div:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg)
    }
}

.news::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 417px;
    background-color: #fffaeb;
    z-index: -1
}

.news___container {
    padding: 37px 15px 100px
}

.news__header {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #12182a;
    margin-bottom: 18px
}

.tabs-nav {
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    column-gap: 20px
}

.tabs-nav__btn {
    background: #fff;
    border: 1px solid rgba(18, 24, 42, .2);
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, .8);
    padding: 12px 20px;
    transition: .4s;
    cursor: pointer
}

.tabs-nav__btn.active {
    color: #fff;
    background: #12182a;
    border-radius: 6px
}

.news__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 53px 40px
}

.item-news {
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
    border-radius: 20px;
    overflow: hidden;
    display: none
}

.item-news.visible {
    display: block
}

.item-news__image {
    line-height: 0;
    margin: -38px -20px 0;
    z-index: -1
}

.item-news__image img {
    width: 100%
}

.image-wrapper {
    border-top: 38px solid #fff;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 18px;
    cursor: pointer
}

.item-news__label {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 22px
}

.item-news__category {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000;
    background: azure;
    border: 1px solid #12182a;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer
}

.item-news__date,
.item-news__description {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434755
}

.item-news__info {
    padding: 0 20px 30px;
    cursor: pointer
}

.item-news__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #000;
    margin-bottom: 6px
}

@media(max-width:1023px) {
    .news__items {
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:696px) {
    .tabs-nav {
        flex-wrap: wrap;
        row-gap: 30px
    }
    .news__items {
        grid-template-columns: 60%;
        justify-content: center
    }
}

@media(max-width:572px) {
    .news___container {
        padding: 20px 15px 60px
    }
    .news__items {
        grid-template-columns: 100%;
        row-gap: 30px
    }
    .news__header {
        font-size: 40px
    }
    .item-news__label {
        flex-direction: column;
        gap: 20px
    }
    .image-wrapper {
        margin-bottom: unset
    }
}

.footer {
    padding: 100px 0 150px;
    background: #12182a
}

.footer__container {
    display: flex
}

.footer__column {
    max-width: 259px
}

.column-footer:first-child {
    margin-right: 96px
}

.column-footer:not(:first-child):not(:last-child) {
    margin-right: 175px
}

.column-footer__logo {
    margin-bottom: 34px;
    display: inline-block;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: .04em;
    color: #fff;
    opacity: .99;
    transition: .5s;
    display: flex
}

.column-footer__logo:hover {
    opacity: .6
}

.column-footer__logo img {
    padding-right: 10px
}

.social-media-list {
    column-gap: 40px
}

.social-media-link svg {
    transition: .5s;
    transform: scale(1)
}

.social-media-link svg:hover {
    transform: scale(1.3)
}

.column-footer__item,
.column-footer__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding-bottom: 3px
}

.column-footer__link:hover {
    text-decoration: underline 1px #fff
}

.column-footer__item:not(:last-child) {
    margin-bottom: 40px
}

@media(max-width:1100px) {
    .column-footer:first-child,
    .column-footer:not(:first-child):not(:last-child) {
        margin-right: unset
    }
    .footer__container {
        justify-content: space-between
    }
}

@media(max-width:1023px) {
    .footer__container {
        flex-wrap: wrap;
        gap: 100px;
        justify-content: flex-start
    }
}

@media (max-width:767px) {
    .footer__column {
        max-width: unset
    }
    .social-media-list_footer {
        display: flex
    }
    .column-footer__item:not(:last-child) {
        margin-bottom: 20px
    }
}

@media (max-width:425px) {
    .social-media-list_footer {
        justify-content: space-around;
        gap: unset
    }
    .footer__container {
        justify-content: center
    }
    .column-footer__item {
        text-align: center
    }
    .footer {
        padding: 60px 0 80px
    }
}